@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --background: #1e1f24;
  --lime-green: #74f325;
  --dark-lime-green: #44aa04;
  --red-: #ff4856;
  --light-gray: #2c3c47;
}
body {
  background-color: var(--background);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
a:visited {
  color: unset;
}
ul {
  list-style: none;
}
