.footer {
  text-align: center;
  color: white;
  font-size: 1.4em;
  margin-top: 20px;
  padding: 20px;
  font-weight: bold;
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
